
<%- include ('../layouts/header') %>
<% if (products[0]){%>
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <ul class="list-group">
                <% products.forEach( product =>{ %>  


                <li class="list-group-item">
                    <span class='alert'><%=product.qty%></span>
                    <strong><%=product.item.title%></strong>
                    <span class="label label-success">$<%=product.price%></span>
                    <div class="btn-group">
                        <button class="btn primary", type="button", data-toggle="dropdown">Action<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <form method="post" action="api/reduce/<%=product.item.id%>"><input type="submit" class="btn" value="-1"></form>
                            </li>
                            <form method="post" action="api/remove/<%=product.item.id%>"><input type="submit" class="btn" value="-ALL"></form>

                        </ul>
                    </div>
                </li>
            <% }) %> 
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <strong>Total:$<%=totalPrice%></strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <a href="/checkout" class="btn btn-success", type="button">Checkout</a>
        </div>
    </div>
<%}else{%>
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <h2>Cart is empty</h2>
        </div>
    </div>
<% } %> 

<%- include ('../layouts/footer') %>
